body{ 
    padding:30px ;
    background: linear-gradient(to top, rgb(114, 58, 244), rgb(145, 44, 237));
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*all contents with pruple colors*/
.purple{
    color: rgb(64, 4, 120);
    margin-left: 3px;
   
}
p{
    color: rgb(240, 239, 241);
}
img{
    width: 40px;
    border:solid;
    border-radius: 10px;
    border-color: blueviolet;
    background-color: blueviolet;
}

#love img{
    width: 17px;
}

/*Countdown container*/
#main_div{
    background-color: rgb(32, 22, 22);
    margin-top: 100px;
    margin-bottom: 100px;
    height: 450px;
    width: 800px;   
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time{
    border: solid;
    box-sizing: border-box;
    border-color: blueviolet;
    width: 130px; height: 75px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;  
}

#time_div{
    display: flex;
    justify-content: center;
}



#social{
    justify-content: center;
    display: flex;
}

#social a{
    padding-right: 10px;
}

#love{
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 3px;
}

#love img{
    margin-left: 3px;
    margin-right: 3px;
}
/*we are coming soon*/
#Coming{
    font-weight: bold;
    font-size: larger;
}
